# APP ENV
APP_NAME=Sistem Antrian Puri Bunda
APP_ENV=development
PROD_URL=https://api.queue-puribunda.com
APP_PORT=8080

# Cookie Configuration
COOKIE_DOMAIN='localhost'

# Access Token Configuration
ACCESS_TOKEN_COOKIE_NAME=access_token_cookie # Access tokens cookie name
JWT_ACCESS_TOKEN_SECRET=puribunda-secret123  # Secret key for signing access tokens
JWT_ACCESS_TOKEN_EXPIRATION_TIME=21600  # Expiration time for access tokens (in seconds)

# POSTGRESQL DATABASE ENV
DB_CONTAINER_NAME=puri_bunda_postgres
DB_USER=puribunda
DB_PASSWORD=puribunda123
DB_NAME=puri_bunda_db
DB_HOST='localhost'
DB_PORT=5432

# FULL URL DB
DB_CONNECTION_STRING='postgresql://puribunda:puribunda123@localhost:5432/puri_bunda_queue_db'